mixin paginator(options)
  - const {countOnPage = 0, countTotal = 0, currentPage = 1} = options
  - const roundCount = Math.floor(countTotal / 100) * 100
  - const pagesCount = Math.ceil(countTotal / countOnPage)
  - const startCount = currentPage === 1 ? currentPage : ((currentPage - 1) * countOnPage) + 1
  - const endCount = countOnPage * currentPage

  .paginator
    ul.paginator__list

      if currentPage !== 1
        li.paginator__item
          a.paginator__page.paginator__arrow
            i.material-icons arrow_back

      - for (let i = 1; i <= pagesCount; i++)
        - const isBoundary = (i === 1 || i === pagesCount)
        - const isNeighbor = (i <= currentPage + 2 && i >= currentPage - 2)

        if i === currentPage
          li
            a.paginator__page.paginator__page--active= i
        else if isBoundary || isNeighbor
          li
            a.paginator__page.paginator__page--iterative= i
        else if i === currentPage + 3 || i === currentPage - 3
          li
            a.paginator__page ...

      if currentPage !== pagesCount
        li.paginator__item
          a.paginator__page.paginator__arrow
            i.material-icons arrow_forward
    p.paginator__info= `${startCount} – ${endCount} из ${roundCount}+ вариантов аренды`